<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'partials/_head.html' %}
        {# Any templates that extend this template can set custom_head_tags to add scripts to their page #}
        {% block custom_head_tags %}{% endblock %}
    </head>
    <body index-page sidebar-collapse>
        {% block content %}
        {% endblock %}

        <script>
        if (navigator.serviceWorker.controller) {
        } else {
        //Register the ServiceWorker
        navigator.serviceWorker.register('radhakrishna.js', {
        scope: './'
        }).then(function(reg) {
        // console.log('Service worker has been registered for scope:'+ reg.scope);
        });
        }
        </script>
    </body>
</html>
