<meta name="charset" content="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/static/images/favicon.png">
<title>{% block page_title %}{{ config.APP_NAME }}{% endblock %}</title>
<meta name="theme-color" content="#A62ABC">
<link rel="manifest" href="/manifest.json" />
<meta name="twitter:site" content="@SamanyouGarg"/>
<meta name="description" content="An Artificial Intelligence application to recognize the emotions of groups of people in various social environments. Based on a novel combination of deep neural networks and Bayesian classifiers." />
<meta name="keywords" content="emotion api, emotion detector, microsoft emotion api, emotion recognition software, face emotion recognition, group emotion recognition, artificial intelligence, AI Solutions, AI applications" />

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Group Emotion Recognition - Facial Expression Detection" />
<meta property="og:description" content="An Artificial Intelligence application demo to recognize the emotions of groups of people in various social environments. Based on a novel combination of deep neural networks and Bayesian classifiers." />
<meta property="og:url" content="https://emotion-recognition.samanyougarg.com{{request.path}}" />
<meta property="og:site_name" content="Group Emotion Recognition" />
<meta property="og:image" content="https://emotion-recognition.samanyougarg.com/static/images/background.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Group Emotion Recognition - Facial Expression Detection" />
<meta name="twitter:description" content="An Artificial Intelligence application to recognize the emotions of groups of people in various social environments. Based on a novel combination of deep neural networks and Bayesian classifiers." />
<meta name="twitter:image" content="https://emotion-recognition.samanyougarg.com/static/images/background.jpg" />

<meta name="google-site-verification" content="EZL77iCpDIsv-RwrPZkPBbZ-To0tSmlQL-Wp8xTSjuU"/>
<meta name="msvalidate.01" content="0451A734F7E9BD838957319E106DE363"/>

<script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "@id": "#website",
    "name": "Group Emotion Recognition - Facial Expression Detection",
    "url": "https://emotion-recognition.samanyougarg.com",
    "publisher": {
        "@type": "Person",
        "name": "Samanyou Garg",
        "logo": "https://samanyougarg.com/images/samanyougarg.svg"
    },
    "image": {
        "@type": "ImageObject",
        "url": "https://emotion-recognition.samanyougarg.com/static/images/background.jpg",
        "width": 1740,
        "height": 900
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://samanyougarg.com"
    },
    "description": "An Artificial Intelligence application demo to recognize the emotions of groups of people in various social environments. Based on a novel combination of deep neural networks and Bayesian classifiers."
    }
</script>

<script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "item": {
                "@id": "https://emotion-recognition.samanyougarg.com",
                "name": "Home"
            }
        }
    ]
}
</script>

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
{% assets 'vendor_css' %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">{% endassets %}
{% assets 'app_css' %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">{% endassets %}
{% assets 'vendor_js' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-43418614-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-43418614-2');
</script>
